@import "tailwindcss";
/* Resetting default styles */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  
  background: linear-gradient(135deg, #061222 0%, #123249 50%, #2D5B75 100%);
  color: white;
  height: 100vh;
  width: 100vw;
}
