@import "tailwindcss";
html,
body {
  background: #000;
  color: white;
}
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* transform: translateY(-50%); */
  font-size: 50px;
}
@theme {
  --breakpoint-xs: 10rem;
}
