@import "tailwindcss";

/* Resetting default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
}

button {
  padding: 20px;
  margin: 5px;
}

button:hover {
  opacity: 0.7;
}

input {
  padding: 1rem;
  margin: 5px;
}

*::-webkit-scrollbar {
  display: none;
}