/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
}

button {
    background-color: black;
    padding: 10px 20px;
    color: azure;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

button:hover {
    background-color: #333;
    color: white;
    transform: translateY(-3px);
}

.header {
    padding: 20px;
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

h3 {
    font-weight: 800;
}