* {
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.card {
  display: flex;
  background-color: brown;
  color: aliceblue;
  width: 20vw;
  height: 20vh;
  margin: 20px;
  justify-content: center;
  align-items: center;
}