input,button,a{
  font-size:2rem;
  background-color: #222;
  padding: 20px 20px;
  margin: 10px;
  border-radius: 20px;
  color: white;
}
a{
  text-decoration: none;
  color: white;
}

body {
  background-color: black;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button{
  background-color: #222;
  font-size: 2rem;
  color: white;
}
button:hover {
  border-color: #646cff;
}
h1{
  color: aliceblue;
}