@import "tailwindcss";

@theme {
    --breakpoint-xs: 20rem;

}

/* Resetting default styles */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    background-color: black;
    color: #888;
}