@import "tailwindcss";

/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
}

html,
body {
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;

}

button {
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.4rem;
    background-color: cyan;
    color: black;
}

.array,
.counter,
.basic {
    width: 100vw;
    height: 30vh;
    background-color: #222;

}

h1 {
    padding: 3rem;
    background-color: #111;
    display: inline-block;
    margin: 1rem;
}